<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.example.barkoder.data.listhistorydata.aplication.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarkoderShopApp"
        tools:targetApi="31">
        <activity
            android:name="com.example.barkoder.presentation.ScanProductActivity"
            android:exported="false" />
        <activity
            android:name="com.example.barkoder.presentation.HistoryListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.barkoder.presentation.ListProductActivity"
            android:exported="false" />
        <activity
            android:name="com.example.barkoder.presentation.SaveProductActivity"
            android:exported="false"
            android:parentActivityName="com.example.barkoder.presentation.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.barkoder.presentation.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.barkoder.presentation.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.barkoder.presentation.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.barkoder.presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>